.card {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #7597de;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}
.card h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #e0e0e0;
}
.card p {
  font-size: 1em;
  color: #e0e0e0;
}
